body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

address {
  font-style: normal;
}

h3 {
  color: #2e2f42;
  margin: 0;
}

h2 {
  
}

img {
  display: block;
}

p {
  margin: 0;
}

.header-top {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.name-web {
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-right: 76px;
}

.container-header {
  display: flex;
  justify-content: center;
}

.navig {
  display: flex;
  align-items: center;
  margin-right: 332px;
}

.header-list {
  text-align: center;
  display: inline-flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.adress-list {
  display: flex;
  gap: 40px;
  padding: 24px 0 24px;
  margin: 0;
}

.studio {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.navigation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.navigation:hover,
.navigation:focus {
  color: #404bbf;
}

.studio-footer {
  color: #f4f4fd;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.link {
  color: #434455;
}

.contacts-item,
.link:hover,
.contacts-item,
.link:focus {
  color: #404bbf;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1158px;
}

.main-content-one {
  color: #fff;
  font-size: 56px;
  max-width: 496px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 48px;
}
.main-content {
  background: #2e2f42;
  padding: 188px 0 188px;
}

.button-one {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-desciption {
  padding: 120px 0 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-list {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  padding: 0;
}

.content-list {
  flex-basis: calc((100% - 72px) / 4);
}

.main-content-tittle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 8px;
  align-items: flex-start;
  flex-direction: column;
}

.main-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-team {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}

.main-tittle {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.names-tittle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}

.main-list-photo {
  display:flex;
  gap: 24px;
  padding: 0;
  margin: 0 auto;
}


.team-background {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.container-name {
  padding-top: 32px;
  padding-bottom: 32px;
}

.names-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-tittle-two {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
  margin-top: 0;
  color: #2e2f42;
}

.names-tittle-two {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 8px;
}

.names-text-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  margin: 0 auto;
  padding: 0;
  column-gap: 24px;
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.name-web-footer {
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-main {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
